@model ViewModel.M04ViewModel
@{
    ViewBag.Title = "有給休暇申請画面";
}

<div class="popup popupM05 modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- モーダルのヘッダー -->
            <div class="modal-header">
                <h5>@ViewBag.Title</h5>
                <!-- 閉じるアイコン -->
                <button type="button" class="close popupClose" data-dismiss="modal" aria-label="Close">
                    <span>×</span>
                </button>
            </div>
            <!-- モーダルの本文 -->
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="modal-body">
                @Html.DropDownListFor(model => model.TORIKOMI_CODE, Model.DropDownListModel, new { @class = "form-control", @id = "applyVacationType" })
                @Html.TextBoxFor(Model => Model.VacationDay, new { @class = "form-control", @id = "applyVacationDay", @placeholder = @Html.DisplayNameFor(m => m.VacationDay), })
                @Html.ValidationMessageFor(model => model.VacationDay, "", new { @class = "text-danger" })
                <input type="button" value="申請する" onclick="M05.onClickApply()">
            </div>
        </div>
    </div>
</div>
