@model ViewModel.A05ViewModel
@using Const
@{
    ViewBag.Title = "休暇申請一覧画面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    @Html.Css("~/Content/A05/A05.css")
}

@section Scripts{
    @Html.Js("~/Scripts/Common/Common.js")
    @Html.Js("~/Scripts/A05/A05.js")
}

<div class="container A05_MainArea">
    <table class="table tblA05 table-hover">
        <thead class="thead-light">
            <tr>
                <td class="col-userName">ユーザー名</td>
                <td class="col-vacationDay">休暇取得日</td>
                <td class="col-typeName">休暇区分</td>
                <td class="col-statusName">申請状態</td>
                <td class="col-approveBtn">承認ボタン</td>
                <td class="col-rejectBtn">却下ボタン</td>
            </tr>
        </thead>
        <tbody class="A05_tbody">
            @foreach (var item in Model.A05VacationModel)
            {
                <tr>
                    <td class="col-userName">@item.UserName</td>
                    <td class="col-vacationDay">@item.VacationDay</td>
                    <td class="col-typeName">@item.TypeName</td>
                    <td class="col-statusName">@item.StatusName</td>
                    <td class="col-approveBtn">
                        @if (@item.ApplyStatus == Const.APPLY_STATUS.VACATION.APPLYING)
                        {
                            <button type="button" class="btn btn-primary onClickApprove"
                                    data-userid=@item.UserId data-vacationday=@item.VacationDay data-applystatus=@Const.APPLY_STATUS.VACATION.APPROVED data-updateDate=@item.UpdateDate data-updateTime=@item.UpdateTime>
                                承認する
                            </button>
                        }
                    </td>
                    <td class="col-rejectBtn">
                        @if (@item.ApplyStatus == Const.APPLY_STATUS.VACATION.APPLYING)
                        {
                            <button type="button" class="btn btn-danger onClickReject"
                                    data-userid=@item.UserId data-vacationday=@item.VacationDay data-applystatus=@Const.APPLY_STATUS.VACATION.REJECTED data-updateDate=@item.UpdateDate data-updateTime=@item.UpdateTime>
                                却下する
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>