@model ViewModel.M04ViewModel

@{
    ViewBag.Title = "休暇一覧";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    @Html.Css("~/Content/M04/M04.css")
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Html.Js("~/Scripts/Common/Common.js")
    @Html.Js("~/Scripts/M05/M05.js")
    @Html.Js("~/Scripts/M04/M04.js")
}

@Html.Partial("~/Views/M05/M05.cshtml")
@Html.Partial("~/Views/M06/M06.cshtml")

<div class="container M04_MainArea">
    <div>
        <button type="button" id="vacationApply" class="btn btn-primary">有給休暇申請</button>
    </div>
    <table class="table tblM04 table-hover">
        <thead class="thead-light">
            <tr>
                <td class="col-vacationDay">休暇取得日</td>
                <td class="col-typeName">休暇区分</td>
                <td class="col-statusName">申請状態</td>
                <td class="col-memo">メモ</td>
                <td class="col-applyCancels">申請取消ボタン</td>
            </tr>
        </thead>
        <tbody class="M04_tbody">
            @foreach (var item in Model.M04VacationModel)
            {
                <tr>
                    <td class="col-vacationDay">@item.VacationDay</td>
                    <td class="col-typeName">@item.TypeName</td>
                    <td class="col-statusName">@item.StatusName</td>
                    <td class="col-memo">@item.Memo</td>
                    <td class="col-applyCancels"><button type="button" id="vacationApply" class="btn btn-danger onClickCancel">申請取消</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>